a:link, a:visited, a:active {
    text-decoration:none;
    color: lightgray; 
}

.info{
    background-color: burlywood;
}


.shadow{
    text-shadow: black 0.1em 0.1em 0.4em;
}
.fondo{
    height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(../img/image.jpg);
}
.fondo_dos{
    height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(../img/xiaomi.jpg);
}
.fondo_3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/xiaomi.jpg);
}
.fondo_4{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/fondo_contacto_def2.jpg);
}

.fondo_5{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/fondo_oficina_def.jpg);
}
.fondo_6{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/fondo_formulario.jpeg);
}

nav{
    z-index: 9999;   
}

.fixed-right-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 9999;
}
.nav{
    color: light;
}

.hover_nav{
    color: burlywood;
}





